@mixin flexlt {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}


@mixin flexct {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}


@mixin flexrt {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-end;
}


@mixin flexlc {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}


@mixin flexcc {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}


@mixin flexrc {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-end;
}


@mixin flexlb {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: flex-start;
}


@mixin flexcb {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
}


@mixin flexrb {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: flex-end;
}