@import '@components/library/style/core/var.scss';
@import '@components/library/style/core/font.scss';
@import '@components/library/style/function/flex.scss';
@import '@components/library/style/function/screen.scss';

$classname: 'ic_xicn';

.#{$classname} {
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;

    @include font--size($font-size + 1px);

    user-select: none;
}

;