@import '@components/library/style/core/var.scss';
@import '@components/library/style/core/font.scss';
@import '@components/library/style/function/flex.scss';
@import '@components/library/style/function/screen.scss';

$classname: 'ic_xicn_preview';

.#{$classname} {
    &.module {
        padding: 10pt;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 10pt;
        width: 100%;

        >div {
            @include flexct;
            flex-flow: column;

            span,
            a {
                margin-top: 5pt;
                word-break: break-all;
            }
        }
    }

}

;