@import '@components/library/style/core/color.scss';

$classname: 'routes';

.#{$classname} {
    * {
        transition: all 0.16s ease-in;
    }

    >button {
        position: fixed;
        top: 0;
        left: 0;
    }

    >.#{$classname}-list {
        transform: translateX(-100%);
        position: fixed;
        display: inline-block;
        width: fit-content;
        height: 85vh;
        padding: 10px;
        background-color: map-get($Dark_green, "Container");
        overflow: hidden;
        overflow-y: auto;



        >h3 {
            color: map-get($Dark_green, "Table_text");
        }

        >div {
            width: 100%;
            cursor: pointer;

            &:hover {
                background-color: map-get($Dark_green, "Divider");

            }

            >a {
                padding: 2px 0px;
                display: block;
                width: -webkit-fill-available;
                text-decoration: none;
                color: map-get($Dark_green, "Main");

                &.link {
                    color: gold;
                }
            }
        }
    }

    :first-child {
        margin-top: 0px;
    }

    &:hover>.#{$classname}-list {
        transform: translateX(0%);
    }

    ::-webkit-scrollbar {
        width: 5px;
    }

    ::-webkit-scrollbar-track {
        background-color: map-get($Dark_green, "Container");
    }

    ::-webkit-scrollbar-thumb {
        background-color: map-get($Dark_green, "Header_text");
        border-radius: 0px;
    }
}

;