$classname: 'EnrollList';

/**
 * Start your css code
 * 1. 請在您模組的所有selector都要以模組的classname為前綴名稱  (範例:'bc_coxx')
 * 2. 在設計RWD時，請在每個selector內加上media query，而不是在media query內有selector
 * 3. 下media query時請依手機優先的設計方法來設計
 */
.#{$classname} {
    // style on phone device
    display: block;

    position: fixed;
    z-index: 99;
    width: 100%;

    .crossWrap {
        text-align: right;
        margin-right: 10px;
        margin-top: 10px;
    }

    .inputContainer {
        // height: 280px;
        // height: 100%;
        height: 300px;
        overflow: auto;
        background: white;
        text-align: center;
        width: calc(100% - 20px);
        margin: auto;
        margin-top: 5px;

        .discussionWrap {
            // .discussion{
            //     margin-right:
            // }

            text-align: left;

            >button {
                margin-left: 20px;
            }
        }

        .inputWrap {
            .question {
                text-align: left;
            }

            .questionInput {
                width: 90%;
            }

            .insideWrap {
                display: flex;
                justify-content: space-between;
                margin: 5px;
            }
        }
    }

    .mask {
        background: rgba(0, 0, 0, 0.7);
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: -1;
        top: 0px;
        left: 0px;
    }
}